@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

:root{
    --background-color1: whitesmoke;
    --backgroundcolor-navbar: rgba(255, 252, 250, 0.4);
    --backgroundfilter-navbar: backdrop-filter: blur(22.5px);
    --projectpallete-richblack: #031926;
    --projectpallete-teal: #468189;
    --projectpallete-cambridgeblue: #77ACA2;
    --projectpallete-ashgray: #9DBEBB;
    --projectpallete-parchment: #F4E9CD;
}
*{
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}
html{
    font-size: 18px;
}
body{
    background: url("https://www.wallpapertip.com/wmimgs/24-249805_sofa.jpg");
    background-repeat: repeat;
    background-size: cover;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 80vh;
}
main h1{
    color: var(--projectpallete-richblack);
    font-weight: bold;
    font-size: 2.5rem;
    padding: 10px;
}
form{
    margin: 2.5% auto;
    width: 50%;
    border: 1px solid white;
    border-radius: 20px;
    text-align: left;
    padding: 2%;
    backdrop-filter: blur(20px);
    box-shadow: inset 2px 2px 8px white, 2px 2px 8px white;
}
label{
    display: block;
    color: var(--projectpallete-richblack);
    font-size: 1rem;
}
form span{
    display: flex;
    width: 100%;
}
input:not(#termsandconditions){
    margin-bottom: 20px;
    width: 100%;
    height: 25px;
}
input:focus:not(#termsandconditions){
    outline-color: var(--projectpallete-teal);
    box-shadow: 0 0 3px 2px var(--projectpallete-cambridgeblue);
}
form div{
    display: flex;
    justify-content: left;
    width: 100%;
    margin: 20px 0;
}
.prompt-buttons{
    width: 33%;
    min-width: 75px;
    text-align: center;
    padding: 10px 5px;
    border-radius: 5px;
    background: linear-gradient(90deg, var(--projectpallete-ashgray), var(--projectpallete-teal));
    color: white;
    border-color: var(--projectpallete-cambridgeblue);
    box-shadow: 1px 1px 5px grey;
    font-size: 1rem;
}
.prompt-buttons:hover{
    background: linear-gradient(90deg, var(--projectpallete-teal), var(--projectpallete-richblack));
}
.prompt-buttons:active{
    background: var(--projectpallete-richblack);
}
#alertDiv{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    background-color: rgba(127, 127, 255, 0.5);
    z-index: 1;
}
.alert{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 50%;
}